button {
    border-radius: 2px;
    border: 1px solid #bdbdbd;
    background-color: white;
    height: 34px;
    padding: 2px 8px;
}

button:hover {
    background-color: #f9f9f9;
}

button:active {
    background-color: #f0f0f0;
}

input[type="text"] {
    border-radius: 2px;
    border: 1px solid #bdbdbd;
    padding: 8px 8px;
}

label input[type="text"] {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.question-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.tab {
    padding: 8px 16px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.tab.selected {
    border-bottom: none;
    transform: scale(1.05);
    z-index: 1;
}

.tabbar button[type="submit"] {
    background-color: #003A79;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
}

.tabbar button[type="submit"]:hover {
    background-color: #002A59;
}

.tabbar button[type="submit"]:active {
    background-color: #001A39;
}

/* Reset css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}