<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Klausurix</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'menubar.css' %}">
  </head>
  <body>
    <!-- Add the menubar here -->
    {% include 'includes/menubar/menubar.html' %}

    <!-- Add the tab bar here -->
    {% include 'includes/tabbar/tabbar.html' %}

    {% if exam_id %}
      <h1>
        Klausur mit der Id
        {{ exam_id }}  
      </h1>
    <div id="question-list">
      {% include 'includes/question/question_list.html' with questions=questions exam_id=exam_id %}
    </div>
    <form
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-delete="/exams/{{ exam_id }}/"
      hx-trigger="submit"
      >
      <button type="submit">
        Klausur loeschen
      </button>
    </form>
    {% else %}
      <h1>
        Willkommen bei Klausurix
      </h1>
      <span>
        Es ist keine Klausur ausgewählt
      </span>
    {% endif %}
    <script src="{% static 'htmx.js' %}"></script>
  </body>
</html>
